*{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    margin-bottom: 0;
}

a{
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
}

a:hover{
    transform: scale(1.2); 
}


a:link{
    color: white;
}

a:visited{
    color: white;
}

p{
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

header{
    width: 100%;
    justify-content: top;
    background-color: black;
    color: white;
  
}

.menu{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}
.menu2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.menuhd{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    justify-content: right;
}

#imghd{
    width: auto;
    height: 100px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 7px;
    transition: transform 0.2s ease-in-out;
}


#imgzhd{
    width: 30px;
    margin-top: 10px;
    transition: transform 0.2s ease-in-out;
}

#imgzhd:hover{
    transform: scale(1.2);
}

#imgshd{
    width: 30px;
    transition: transform 0.2s ease-in-out;
}

#imgshd:hover{
    transform: scale(1.2);
}

.icons{
    margin-right: 30px;
}

.icons a{
    margin-left: 30px;
}

.menuhd2{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    justify-content: space-between;
}

.cat{
    margin-top: 7px;
    margin-left: 10px;
}
    
details {
    position: relative;
  }

summary {
    cursor: pointer;
    list-style: none;
    font-weight: bold;
    background: none;
    border: none;
    color: white;
    transition: transform 0.2s ease-in-out;
}

summary::-webkit-details-marker {
    display: none;
    transform: scale(1.2);
}

summary::after {
    content: " ▼";
    font-size: 12px;
    transform: scale(1.2);
}

details[open] summary::after {
    content: " ▲";
    transform: scale(1.2);
}

.dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    border-radius: 4px;
    padding: 10px 0;
    width: 100px;
    z-index: 10;
}

.dropdown a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    font-weight: bold;
}

#linha{
    width: 50%;
    margin-left: 25%;
}

#pesquisar{
    width: 600px;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    text-align: center;
}

.sizes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 30px;
    margin-top: 7px;
}


body{
    text-align: center;
    background-color: #23241e;
    color: white;
    background-image: url(../imgs/background.png);
    background-size: contain;
    background-repeat: repeat;
    font-family: "League Gothic", sans-serif;
}

.sizes a{
    padding-left: 30px;
}

/* MOBILE */
.mobile{
    display: none;
}

.menumob{
    display: none;
}

#pesquisarmob{
    display: none;
}

#lin{
    width: 50%;
    margin-left: 40%;
}

#h1{
    margin-top:10px;
    font-size:40px;
    margin-left: -4%;
}

#p1 {
    font-size:27px;
    margin-top:5px;
}

h1{
    text-align: left;
    padding-left: 5%;
    padding-top: 3%;
}

#p1{
    text-align: left;
    padding-left: 5%;
}

#h2{
    font-size: 50px;
    margin-top: 50px;
}

.inicio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10%;
    padding-bottom: 10%;
}

.sum{
    padding-left: 10%;
    text-align: left;
}

.ctt{
    padding-right: 10%;
}

.caixa{
    color: #ffff;
    width: 200%;
    margin-top: 1   0px;
    padding: 20px;
    border-radius: 30px;
    transition: background-color 0.2s ease; 
    cursor: pointer;
    font-size: 23px;
}

.caixa p{
    text-align: left;
}

.caixa summary{
    font-size: 25px;
}

.ctt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fo{
    font-size:25px;
    border-radius: 50px;
    width: 300px;
}
      
.caixa:hover{
    transform: scale(1.05);
    background-color: #ff5757;
}

.caixa[open] {
    background-color: #3d3d3d;
    color: white;
}

#wpp{
    width: 70px;
}

#mail{
    width: 60px;
}

#hras{
    width: 70px;
}

#support{
    width: auto;
    height: 110px;
    margin-left: 5%;
    margin-top: 2%;
}

#sup{
    display: flex;
    flex-direction: row;
    justify-content: left;
}


#p1d{
    font-size: 30px;
    opacity: 40%;  
}

#p2d{
    opacity: 40%;
}

.player{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 250px;
    font-size: xx-large;
}

.menuf{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menuf1{
    display: flex;
    flex-direction: row;
}

.menuf2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer{
    background-color: black;
    height: fit-content;
}

footer img{
    width: 100px;
}

.menuf1 a{
    margin-top: 10%;
    margin-left: 10px
}

.menuf2 p{
    margin-top: 5%;
}


@media (max-width: 768px) {

    a:hover{
        transform: none;
    }
       
    body{
        text-align: center;
        background-color: #23241e;
        color: white;
        background-image: url(../imgs/background.png);
        background-size: auto;
        background-repeat: repeat;
        font-family: "League Gothic", sans-serif;
    }

    header{
        position: static;
        background-color: black;
    }

    .menu{
        display: none;
    }

    .mobile{
        display: block;
    }

    .mobilemenu{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 30px;
    }

    .head{
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        position: relative;
    }

    #imghd {
        width: 120px;
    }

    #hamburguer {
        font-size: 32px;
        cursor: pointer;
        user-select: none;
        transform: scale(1.8);
        margin-top: 40px;
    }

    #menumob2 {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 80%;
        max-width: 350px;
        background-color: rgba(0, 0, 0, 0.97);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        opacity: 0;
        transition: transform 0.4s ease, opacity 0.3s ease;
        z-index: 999;
        visibility: hidden;
        box-shadow: -5px 0 15px rgba(0,0,0,0.8);
    }

    #menumob2.active {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    #menumob2 a {
        color: white;
        text-decoration: none;
        font-size: 28px;
        margin: 15px 0;
        transition: color 0.3s;
    }

    .menumob3 {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 40px;
    }

    #imgshd {
        width: 70px;
        transition: transform 0.2s ease;
    }

    #imgshd:hover {
        transform: scale(1.1);
    }

    .pesqmob {
        width: 100%;
        margin: 15px auto;
        text-align: center;
    }

    #pesquisarmob{
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 15px;
        box-sizing: border-box;
    }

    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.6);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease;
        z-index: 998;
    }

    #overlay.active {
        opacity: 1;
        visibility: visible;
    }

    #fechar-menu {
        position: absolute;
        top: 15px;
        right: 50px;
        font-size: 40px;
        cursor: pointer;
        transition: transform 0.2s;
    }

    #lin{
       display: none;
    }
    
    #h1{
        margin-top:10px;
        font-size:40px;
        margin-left: 5%;
    }
    
    #p1 {
        font-size:27px;
        margin-top:5px;
    }
    
    h1{
        text-align: left;
        padding-left: 1%;
        padding-top: 3%;
    }
    
    #p1{
        text-align: left;
        padding-left: 1%;
    }
    
    #h2{
        font-size: 50px;
        margin-top: 50px;
    }
    
    .inicio{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .fo{
        font-size:25px;
        border-radius: 30px;
        width: 300px;
    }
          
    .caixa:hover{
        transform: none;
        background-color: #3d3d3d;
    }
    
    .caixa[open] {
        background-color: #3d3d3d;
        color: white;
    }
    
    .sum{
        padding-left: 1%;
        text-align: left;
    }
    
    .ctt{
        padding-right: 0%;
    }
    
    .caixa{
        color: #ffff;
        width: 200%;
        margin-top: 1   0px;
        padding: 20px;
        border-radius: 30px;
        transition: background-color 0.2s ease; 
        cursor: pointer;
        font-size: 23px;
    }
    
    .caixa p{
        text-align: left;
    }
 
    .menuf{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; 
    }
    
    .menuf1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 30px;
        gap: 30px;
    }
    
    .menuf2{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 50px;
    }
    
    .menuf2 p{
        display: none
    }
    
    footer{
        background-color: black;
        position: bottom;
    }
    
    footer img{
        width: 100px;
    }
    
    .menuf1 a{
        margin-top: 10%;
        margin-left: 10px
    }
}

  @media (max-width: 425px){

    .camisetas {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .camisetas .produto {
        margin-bottom: 30px;
    }

    .camisetas img {
        width: 70%;
    }

    .menuf{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; 
    }
    
    .menuf1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 30px;
        gap: 30px;
    }
    
    .menuf2{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 0px;
    }
    
    .menuf2 p{
        display: none
    }
    
    footer{
        background-color: black;
        position: bottom;
    }
    
    footer img{
        width: 100px;
    }
    
    .menuf1 a{
        margin-top: 10%;
        margin-left: 0px
    }

    #mao{
        display: none;
    }
} 
