*{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    margin-bottom: 0;
}

a{
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
}

a:hover{
    transform: scale(1.2); 
}

a:link{
    color: white;
}

a:visited{
    color: white;
}

p{
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

header{
    width: 100%;
    justify-content: top;
    background-color: black;
    color: white;
    z-index: 1;
}

.menu{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    
}
.menu2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.menuhd{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    justify-content: right;
}

#imghd{
    width: auto;
    height: 100px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 7px;
    transition: transform 0.2s ease-in-out;
}


#imgzhd{
    width: 30px;
    margin-top: 10px;
    transition: transform 0.2s ease-in-out;
}

#imgzhd:hover{
    transform: scale(1.2);
}

#imgshd{
    width: 30px;
    transition: transform 0.2s ease-in-out;
}

#imgshd:hover{
    transform: scale(1.2);
}

.icons{
    margin-right: 30px;
}

.icons a{
    margin-left: 30px;
}

.menuhd2{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    justify-content: space-between;
}

.cat{
    margin-top: 7px;
    margin-left: 10px;
}

details {
    position: relative;
  }

summary {
    cursor: pointer;
    list-style: none;
    font-weight: bold;
    background: none;
    border: none;
    color: white;
    transition: transform 0.2s ease-in-out;
}

summary:hover {
    transform: scale(1.2);
}

summary::-webkit-details-marker {
    display: none;
    transform: scale(1.2);
}

summary::after {
    content: " ▼";
    font-size: 12px;
    transform: scale(1.2);
}

details[open] summary::after {
    content: " ▲";
    transform: scale(1.2);
}

.dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    border-radius: 4px;
    padding: 10px 0;
    width: 100px;
    z-index: 10;
}

.dropdown a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    font-weight: bold;
}

#linha{
    width: 50%;
    margin-left: 25%;
}

#pesquisar{
    width: 600px;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    text-align: center;
}

.sizes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 30px;
    margin-top: 7px;
}

body{
    text-align: center;
    background-color: #23241e;
    color: white;
    background-image: url(../imgs/background.png);
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "League Gothic", sans-serif;
}    
.sizes a{
    padding-left: 30px;
}

/* MOBILE */
.mobile{
    display: none;
}

.menumob{
    display: none;
}

#pesquisarmob{
    display: none;
}

.produto{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    margin-top: 20px;
    margin-bottom: 10px;
    align-items: center;
    width: 80%;
}

.produto img{
    margin-right: 30px;
    align-items: center;
}

.fotos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.img-destaque {
    border: #ff5757 solid 2px ;
    
}

#img-destaque{
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 30px;
    
}
  
#img-destaque:hover{
    transform: scale(1.2);
    
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal img{
    margin: auto;
    display: block;
    margin-top: 10%;
    max-width: 90%;
    max-height: 85%;
}

.modal.visivel{
    display: block;
}

#preço{
    font-size: xxx-large;
}

.botoes{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: fit-content;
        font-size: xx-large;
    
}

.tamanhos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    border-color: #ccc;
    gap: 10px;
}

.tamanhos p{
    color: black;
    width: 30%;
    height: auto;
    padding: 10%;
    border: solid white;
    border-radius: 100%;
    background-color: white;
    padding: 10px ;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.tamanhos p:hover{
    transform: scale(1.2);
    background-color: #ff5757;
    border-color: #ff5757;
}

#titulo{
    font-size: 70px;
    margin-top: 15px;
    
}

.shop{
    color: black;
    background-color: white;
    width: 100%;
    border: 1px solid white;
    border-radius: 55px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    margin-top: 10px;
   
    
}

.shop:hover{
    transform: scale(1.2);
    background-color: #ff5757;
    border-color: #ff5757;
}


#line2{
    color: #b5b5b5;
    font-size: large;
    text-align: left;
    margin-left:40px;
}

.menuf{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menuf1{
    display: flex;
    flex-direction: row;

}

.menuf2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer{
    background-color: black;
    height: fit-content;
    position: bottom;
}

footer img{
    width: 100px;
}

.menuf1 a{
    margin-top: 10%;
    margin-left: 10px
}

.menuf2 p{
    margin-top: 5%;
}


@media (max-width: 768px) {

    a:hover{
        transform: none;
    }
       
    body{
        text-align: center;
        background-color: #23241e;
        color: white;
        background-image: url(../imgs/background.png);
        background-size: auto;
        background-repeat: repeat;
        font-family: "League Gothic", sans-serif;
    }

    header{
        position: static;
        background-color: black;
    }

    .menu{
        display: none;
    }

    .mobile{
        display: block;
    }

    .mobilemenu{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 30px;
    }

    .head{
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        position: relative;
    }

    #imghd {
        width: 120px;
    }

    #hamburguer {
        font-size: 32px;
        cursor: pointer;
        user-select: none;
        transform: scale(1.8);
        margin-top: 40px;
    }

    #menumob2 {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 80%;
        max-width: 350px;
        background-color: rgba(0, 0, 0, 0.97);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        opacity: 0;
        transition: transform 0.4s ease, opacity 0.3s ease;
        z-index: 999;
        visibility: hidden;
        box-shadow: -5px 0 15px rgba(0,0,0,0.8);
    }

    #menumob2.active {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    #menumob2 a {
        color: white;
        text-decoration: none;
        font-size: 28px;
        margin: 15px 0;
        transition: color 0.3s;
    }

    .menumob3 {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 40px;
    }

    #imgshd {
        width: 70px;
        transition: transform 0.2s ease;
    }

    #imgshd:hover {
        transform: scale(1.1);
    }

    .pesqmob {
        width: 100%;
        margin: 15px auto;
        text-align: center;
    }

    #pesquisarmob{
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 15px;
        box-sizing: border-box;
    }

    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.6);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease;
        z-index: 998;
    }

    #overlay.active {
        opacity: 1;
        visibility: visible;
    }

    #fechar-menu {
        position: absolute;
        top: 15px;
        right: 50px;
        font-size: 40px;
        cursor: pointer;
        transition: transform 0.2s;
    }

    .produto {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .veja{
        display: none;
    }

    .slider-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin: 40px auto;
        width: 90%;
        max-width: 1000px;
      }

    .slider {
        display: block;
        width: 50%;
        margin: 40px auto;
        position: relative;
        overflow: hidden;
    }
  
    .slides {
        display: flex;
    }
  
    .prod {
        min-width: 100%;
        text-align: center;
    }
  
    .prod img {
        width: 100%;
        cursor: pointer;
    }
   
    .prod h3 {
        margin: 10px 0 5px;
        font-size: xx-large;
    }
       
    .btn {
        font-size: 5rem;
        color: white;
        background: #23241e;
        opacity: 30%;
        border: none;
        cursor: pointer;
        padding: 10px 15px;
        border-radius: 8px;
        transition: background 0.3s;
    }

    .btnline{
        display: flex;
        flex-direction: row;
    }

    .menuf{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; 
    }
    
    .menuf1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 30px;
        gap: 30px;
    }
    
    .menuf2{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 50px;
    }
    
    .menuf2 p{
        display: none
    }
    
    footer{
        background-color: black;
        position: bottom;
    }
    
    footer img{
        width: 100px;
    }
    
    .menuf1 a{
        margin-top: 10%;
        margin-left: 10px
    }
}

/* MOBILE */

@media (max-width: 425px){

    .produto{
        flex-direction: column;
    }
    
    .fotos{
        width: 80%;
        flex-direction: column-reverse;
        margin-left: 1px;
    }

    .modal{
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 80%;
        height: 80%;
        overflow: auto;
        background-color: rgba(0,0,0,0.9);
    }
    
    .modal img{
        margin: auto;
        display: block;
        margin-top: 10%;
        max-width: 50%;
        max-height: 55%;
    }

    #img-destaque{
        width: 100%;
        height: auto;
    }

    .antesplayer{
        flex-direction: column-reverse;
        margin-left: 10%;
    }

    .camisetas {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .camisetas .produto {
        margin-bottom: 30px;
    }

    .camisetas img {
        width: 70%;
    }

    #preço2{
        margin-left: 10px;
    }

    #promo{
        display: none;
    }

    .menuf{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; 
    }
    
    .menuf1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 30px;
        gap: 30px;
    }
    
    .menuf2{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 0px;
    }
    
    .menuf2 p{
        display: none
    }
    
    footer{
        background-color: black;
        position: bottom;
    }
    
    footer img{
        width: 100px;
    }
    
    .menuf1 a{
        margin-top: 10%;
        margin-left: 0px
    }

    #mao{
        display: none;
    }
} 










